*{
      margin:0;
      padding:0;
}
body{
      background-color:#fafab6;
}
header{
      width: 100%;
      height: 130px;
      background-color: azure;
}
header div{
      width:70%;
      float: left;
}
div h1{
      width:100%;
      padding-top: 20px;
      font-size: 45px;
      padding: 36px;
}
nav{
      width:100%;
      height: 30px;
      background-color:wheat;
      padding: 10px;
}
nav ul{
      list-style:none;
      margin: 5px;
}
nav ul li{
      display: inline;
      font-size: 24px;
      padding: 15px;
      margin: 2px;
      margin-left: 3px;
}
main div{
      width:100%; 
      float:left;
      margin-top: 10px;
}
img{
      width:30%; 
      margin: 15px;
}
div img{
      width: 45%;
      margin: 35px;
      margin-top: 0px;
}
div h2{
      margin: 30px;
}
footer{
     width:100%;
     padding: 15px;
     float: left;
     background-color: #f5deb3;
}
footer p{
      text-align: center;
}
